#Switch
{
    color: white;
    background-color: rgb(0, 0, 173);
    height: 50px;
    width: 100px;
    cursor: pointer;
    font-size: larger;
    align-content: center;
    border-radius: 10px;
    padding: 20px;
    margin: 300px;
    

    


}
